<html>
  <head>
    <title>SERVER</title>

    <script>
      function request_cam_control(action)
      {
          var req = new XMLHttpRequest()
          // req.onreadystatechange = function()
          // {
          //     if (req.readyState == 4)
          //     {
          //         if (req.status != 200)
          //         {
          //             //error handling code here
          //         }
          //         else
          //         {
          //             var response = JSON.parse(req.responseText)
          //             document.getElementById('myDiv').innerHTML = response.username
          //         }
          //     }
          // }

          req.open('POST', '/cam_control')
          req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
          // var un = document.getElementById('scname').value
          // var sec = document.getElementById('secret').value
          var postVars = 'action='+action
          req.send(postVars)

          return false


          // https://gist.github.com/sammcgrail/ea05a8d43a254087f504
      }
  </script>
  </head>
  <body>
    <p>
      <form action="" method="POST">
      <input type="button" value="Focus Center" onclick="return request_cam_control('focus_center')">
      <input type="button" value="Lock" onclick="return request_cam_control('lock')">
      <input type="button" value="Shoot" onclick="return request_cam_control('shoot')">
      </form>
    </p>
    <table style="width:90%">
    <tr>
      <th><p align="left"><img src="{{ A1 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ A2 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ A3 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ A4 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ A5 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ A6 }}" width="320px" height="216px"></p></th>
    </tr>
    <tr>
      <th><p align="left"><img src="{{ B1 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ B2 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ B3 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ B4 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ B5 }}" width="320px" height="216px"></p></th>
      <th><p align="left"><img src="{{ B6 }}" width="320px" height="216px"></p></th>
    </tr>
  </table>
  <table>
  <tr>
    <th><p align="center"><img src="{{ C1 }}" width="320px" height="216px"></p></th>
    <th><p align="center"><img src="{{ C2 }}" width="320px" height="216px"></p></th>
  </tr>


  </body>
</html>
